:root {
    --purple-500: #4c2d7e;
    --gold-500: #cbb778;
    --white-100: #ffffff;
    --grey-500: #999999;
    --black-900: #000000;

    /* Font */
    --font-family: 'Roboto', Helvetica, Arial, sans-serif;
   
    /* Font Size */
    --step--2: clamp(0.6944rem, 0.6856rem + 0.0444vi, 0.72rem);
    --step--1: clamp(0.8333rem, 0.8101rem + 0.1159vi, 0.9rem);
    --step-0: clamp(1rem, 0.9565rem + 0.2174vi, 1.125rem);
    --step-1: clamp(1.2rem, 1.1283rem + 0.3587vi, 1.4063rem);
    --step-2: clamp(1.44rem, 1.3295rem + 0.5527vi, 1.7578rem);
    --step-3: clamp(1.728rem, 1.5648rem + 0.8161vi, 2.1973rem);
    --step-4: clamp(2.0736rem, 1.8395rem + 1.1704vi, 2.7466rem);
    --step-5: clamp(2.4883rem, 2.1597rem + 1.6433vi, 3.4332rem);
   
    /* Headings */
    --heading-one-size: var(--step-5);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* Project */

  header {
    position: sticky;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #f7f7f7;
  }
  .cmp-header {
    width: 100%;
    max-width: 1152px;
    padding-inline: 12px;
    margin-inline: auto;
    padding-block: 12px;
  }
  .header-logo {
    width: 50px;
    aspect-ratio: 1;
  }

  .cmp-footer {
    width: 100%;
    max-width: 1152px;
    padding-inline: 12px;
    margin-inline: auto;
    padding-block: 12px;
  }
  h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: var(--heading-one-size);
    line-height: calc(var(--heading-one-size) * 1.2);
  }

  .container {
    width: 100%;
  }
  .cmp-container {
    width: 100%;
    max-width: 1152px;
    padding-inline: 12px;
    margin-inline: auto;
    
  }

  .container--primary {
    padding-block: 128px;
  }